body {
    background-color: burlywood;
}

.container {
    text-align: center;
}

input, select, button {
    font-size: 2rem;
    margin: 20px;
    border-radius: 10px;
    color: olivedrab;
}

input {
    width: 120px;
}

select {
    width: 80px;
    text-align-last: center;
}

button {
    padding: 0 15px 0;
}